# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:


- List popular languages for Data Science
- List popular libraries for Data Science
- Evaluating Arithmetic Expressions
- Making table of Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. matplotlib

| Data science tools |
|---------|
| RStudio   |
| Jupyter Notebook    |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

1 + 2

3 * 5

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author 

Asad Ali